/vendor/
/bin/
/var/

# PHPUnit
phpunit.xml
.phpunit.result.cache

# PHP CodeStyle Fixer
.php_cs
.php_cs.cache

# PHP CodeSniffer
phpcs.xml
.phpcs-cache

# PHPStan
phpstan.neon

# IDE
.idea

# System files
.DS_Store
._.DS_Store
Thumbs.db
.AppleDouble

# Vagrant files
.vagrant

